<!DOCTYPE html>
<html>
<head>
    <title>Doggo app</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="doggoApp" ng-controller="doggoAppCtrl">    
    
    <div>
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="center center">
            <p><strong>Doggos</strong></p>
            
            <md-button ng-click="openDropdownList()">
                <md-icon class="mdi mdi-magnify"></md-icon>
                Choose a breed
            </md-button>            
        </div>
        <div class="md-toolbar-tools" layout-align="center center" ng-if="isDropdownVisible">
            <md-input-container>
                <label ng-if="!isDogVisible">Breed</label>
                <md-select ng-model="breed" ng-change="changeBreed(breed)">
                    <md-option ng-repeat="breed in breeds" ng-value="breed">
                        {{breed}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>
    </div>
    <div>
        <md-card ng-if="isDogVisible" class="flex-item">
            <md-card-content>
                <div class="dog-pic">
                  <img src="{{picJsonLink}}">
                </div>
            </md-card-content>
        </md-card>
    </div>
    
    
    <script src="node_modules/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="components/doggoApp.ctr.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="components/dogs.fac.js"></script>
</body>
</html>